[Unit]
Description=Tailscale 
Documentation=https://tailscale.com/kb/
Wants=network-online.target
After=network-online.target
AssertFileIsExecutable=/usr/bin/tailscaled

[Service]
User=root
Group=root
ExecStart=/usr/bin/tailscale up --advertise-routes=192.168.4.1/24
ExecStop=

# Let systemd restart this service always
Restart=always

[Install]
WantedBy=multi-user.target